@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  background-color: black;
}
.animate-move-up-down {
  animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -30px
    ); /* Ajusta la distancia que quieres que se mueva */
  }
}

/* para los botones de inicio */

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 999px; /* Para hacer el botón completamente redondo */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  cursor: pointer;
}

.custom-button-primary {
  color: #ffffff;
}

.custom-button-secondary {
  background-color: #ccc;
  color: #333;
}

.custom-button:hover {
  background-color: #555;
  color: #fff;
}
.hover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-content h2,
.hover-content p {
  margin: 10px;
}

.p-4:hover .hover-content {
  opacity: 1;
}
.description {
  max-height: 100px; /* Ajusta la altura máxima según tus necesidades */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
