/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
.animate-move-up-down {
  animation: moveUpDown 2s linear infinite;
}

/* @keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -30px
    ); /* Ajusta la distancia que quieres que se mueva */

/* para los botones de inicio */

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 999px; /* Para hacer el botón completamente redondo */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  cursor: pointer;
}

.custom-button-primary {
  color: #ffffff;
}

.custom-button-secondary {
  background-color: #ccc;
  color: #333;
}

.custom-button:hover {
  background-color: #555;
  color: #fff;
}
.hover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-content h2,
.hover-content p {
  margin: 10px;
}

.p-4:hover .hover-content {
  opacity: 1;
}
.description {
  max-height: 100px; /* Ajusta la altura máxima según tus necesidades */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custom-shadow-yellow {
  box-shadow: 0 0 40px rgba(252, 211, 77, 0.5);
  border-radius: 10%; /* Ajusta el color y la intensidad de la sombra aquí */
}
.custom-shadow-yellow-navbar {
  box-shadow: 0 0 40px rgba(252, 211, 77, 0.5);
  /* Ajusta el color y la intensidad de la sombra aquí */
}
/* styles.css */
.boton {
  display: inline-block;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 999px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  cursor: pointer;
  min-width: 150px; /* Ancho mínimo de tus botones */
}
.navbar {
  padding: 1rem;
  position: relative;
  z-index: 0;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
}

/* Agrega estilos para tus enlaces */
.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  /* Agrega otros estilos según tus necesidades */
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  margin-left: auto;
}
.botone1,
.botone2,
.botone3 {
  position: absolute;
  top: 1.7em;
  background-color: #cda11d;
  color: #fff;
  border-color: rgba(252, 211, 77, 0.5);
}
.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}
.boton:hover {
  background-color: rgba(10, 27, 55, 0.5);
  color: #ffc107; /* Cambia el color de texto al pasar el cursor */
}
.washaptFather {
  position: fixed;
  z-index: 999;

  border: 1px solid #fff;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  padding: 2px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.washaptFather:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.washapt {
  width: 50px;
  transition: ease 1s;
}
.whatsapp-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 17px;
  width: 400px;
  height: 240px;
  margin: 50px auto;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 2px 2px 2px 2px #333;
  z-index: 999;
}

.header {
  background-color: #25d366;
  color: #fff;
  padding: 2em;
  border-bottom: 1px solid #ccc;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.header img {
  position: absolute;
  width: 40px;
  left: 10px;
  top: 10px;
}

.whatsapp-text {
  position: absolute;
  font-weight: bold;
  left: 4em;
  top: 20px;
}
.xl {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #908e8e;
  border-radius: 50%;
  right: 10px;
  top: 15px;
}
.xl:hover {
  background-color: #333;
}
.x {
  position: absolute;
  right: 14px;
  bottom: 4px;
  font-size: 25px;
  cursor: pointer;
}
.message-container {
  padding: 10px;
}

.message {
  background-color: #dcf8c6;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  color: #969393;
}

.sender {
  font-weight: bold;
}

.open-chat-btn {
  position: absolute;
  background-color: #25d366;
  color: #fff;
  border: none;
  padding: 13px;
  border-radius: 15px;
  cursor: pointer;
  top: 11em;
  left: 18rem;
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(54, 152, 43, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(54, 152, 43, 0);
  }
}

@media (max-width: 768px) {
  .botone1 {
    position: absolute;
    top: 2em;
    left: 8em;
  }

  .botone2 {
    position: absolute;
    top: 4.1em;
    left: 8em;
  }

  .botone3 {
    position: absolute;
    top: 6.2em;
    left: 8em;
  }
  nav .menu {
    display: flex;
    margin-top: 0;
    position: absolute;
    top: 2em;
    right: 0;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem; /* Ajusta la posición superior según tus necesidades */
    border-radius: 0.25rem;
  }
  nav ul.open {
    display: flex;
  }
  .whatsapp-container {
    width: 350px;
    height: 240px;
  }
  .open-chat-btn {
    padding: 8px;
    border-radius: 15px;
    width: 80px;
    top: 10em;
    left: 16rem;
  }
  /* .particicle {
    display: none;
  } */
}
